aiofiles==25.1.0
aiogram==3.28.2
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.5.20
frozenlist==1.8.0
greenlet==3.5.1
idna==3.18
magic-filter==1.0.12
multidict==6.7.1
propcache==0.5.2
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.2
SQLAlchemy==2.0.50
typing-inspection==0.4.2
typing_extensions==4.15.0
yarl==1.24.2
